
/* Estilos Globales (Se van a reutilizar) */

.contenedor{
    max-width: 1200px; /* Esto va hacer que se tome todo el espacio disponible, mientras no sobrepase los 1200px*/
    /*margin-left: auto;
      margin-right: auto; El tamaño de los margin tanto de left como right sera automatico y a eso se lo va a centrar
      margin: 0 auto 0 auto; /* Se puede escribir tambien de esta manera, son 4 puntos en sentido horario 12:00hs = 0; 03:00hs = auto; 06:00hs = 0; 09:00hs = auto*/
    margin: 0 auto; /*Tambien se puede escribir de esta forma que queda mas compacto */
    /*margin se utiliza para centrar elementos dejando espacio en las orillas*/

}


/* Header */

.site-header.inicio{
    background-image: url(../img/header.jpg); /* con -image, solo se pueden poner imagenes */
    background-position: center center; /* Posicion de la imagen, al centro */
    background-size: cover; /* Esta propiedad va a forzar que tome todo el espacio disponible, tanto la altura como el ancho, pero siempre tomando como referencia las proporciones */
    height: 100vh; /* Maximo va a medir toda la pantalla, segun el dispositivo */
    min-height: 600px; /* Minimo va a medir 600px */

}

.barra {
    display: flex;
    justify-content: space-between; /*Posiciona el elemento con un espacio entre los dos*/
    padding-top: 30px; /*padding-top: Es el espacio hacia adentro del elemento*/
    /*margin-top: 30px; margin-top: Es la separacion con otro elemento hacia afuera*/
    align-items: center; /*Esto alineara el logo como los enlaces*/
}

/*Navegacion*/

.navegacion a{
    color: white;
    text-decoration: none; /*Elimina las lineas que estan debajo de los enlaces*/ 
    font-size: 18px;
    margin-right: 20px;    

}

.navegacion a:last-of-type{ /*Esto es un pseudo selector, que permite seleccionar el ultimo elemento y le quita la separacion o margin*/
    margin: 0;
}

/*Escribiendo .navegacion a, lo que se hace que al padre(nav) e hijo(a), se le aplica lo mismo */


/*Fuentes*/

body{
    font-family: 'Lato', sans-serif;
}